.header{
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 20px;
    
}

body{
    background-color: rgb(167, 218, 218);
}

li{
    display: inline;
}

.header > * {
    display: inline-block;
}
.Bobx2{
    width: 10%;
}
.navbar{
    width: 70%;
    text-align: center;
    color: #825157;
    font-weight: 500;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}